# -----------------------------
# Vagrant
# -----------------------------
.vagrant/
*.box

# -----------------------------
# Java / Maven
# -----------------------------
target/
*.class
*.jar
*.war
*.ear
*.iml

# Logs & temp
*.log
*.out
hs_err_pid*
*.swp

# -----------------------------
# IntelliJ / Eclipse / VSCode
# -----------------------------
.idea/
*.iws
*.ipr
*.iml
.classpath
.project
.settings/
.vscode/

# -----------------------------
# OS junk
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Ansible
# -----------------------------
*.retry

# -----------------------------
# Misc
# -----------------------------
*.bak
*.tmp
